* {
  box-sizing: border-box;
}
/* Navigation Bar */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

header {
  text-align: center;
  font-style: italic;
}

body, html {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Courier New", Lucida Console, Monaco;
  flex-direction: column;
  display: flex;
  height: inherit;
  background-color: #D1E8D3;
  
}

main {
  flex: 1;
}

.container {
  flex: 1;
  display: flex;
  height: 100%;

}

section {
  padding: 1em;
}

.column{
  padding: 1em;
  flex: 1;
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.card {
  width: 250px;
  flex: 0 0 250px;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
  margin: 0.5rem;

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card h2 {
  text-align: center;
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;

}

.card p {
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0;
}

@media (max-width: 600px) {
  /* Adjust styles for small screens */
  .topnav a {

    padding:10px; /* Reduce padding for smaller screens */
    font-size: 14px; /* Decrease font size for smaller screens */
  }

}

/* Media query for large screens */
@media (min-width: 768px) {
  .container {
    flex-direction: row; /* Change layout to row for larger screens */
  }

  .card {
    margin-right: 1em; /* Add margin between cards */
  }

  .card:last-child {
    margin-right: 0; /* Remove margin for the last card */
  }
}