body {
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.5;
}

header {
  padding: .5rem 0;

}
h1 {
  color:blueviolet;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  text-align:center;
  font-size:x-large; 
  color: blueviolet;
}

section {
  margin: .5rem 0;
  padding: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.795);
}